<div id="about-me"
    class="min-h-dvh bg-stone-300 flex flex-col text-black select-none">
    <div class="flex flex-col min-[320px]:p-4 lg:p-12 effect-div flex-auto justify-center">
        <h1 class="min-[320px]:text-xs md:text-2xl font-bold flex justify-center">
            {{ 'about_me_section.title' | translate }}
        </h1>

        <div class="flex min-[320px]:flex-col lg:flex-row items-center mt-12">
            <img [src]="'../../assets/me.jpeg'" class="overflow-hidden rounded-full shadow-2xl shadow-[#232323] h-auto min-[320px]:w-2/5 lg:w-fit xl:w-3/5">
            <div class="lg:ml-12 min-[320px]:mt-12 lg:mt-0">
                <p class="min-[320px]:text-xs md:text-lg lg:text-xl">
                    {{ 'about_me_section.description_p1' | translate:years }}
                </p>
                <p class="min-[320px]:text-xs md:text-lg lg:text-xl mt-6">
                    {{ 'about_me_section.description_p2' | translate:years }}
                </p>
                <p class="min-[320px]:text-xs md:text-lg lg:text-xl mt-6">
                    {{ 'about_me_section.description_p3' | translate:years }}
                </p>
            </div>
        </div>
    </div>
</div>