<div id="skills-services" class="h-fit md:h-full lg:h-fit min-[1920px]:h-full bg-stone-300 flex flex-col text-black">
    <div class="flex flex-col min-[320px]:text-sm lg:text-base min-[320px]:p-4 lg:p-12">
        <h1 class="min-[320px]:text-xs lg:text-2xl font-bold flex justify-center">{{ 'skills_services.skills_label' | translate }}</h1>

        <div class="flex justify-center gap-4 mt-12">
            <div class="flex justify-center w-1/2 gap-4 flex-wrap">
                @for(skill of skills; track skill) {
                <div class="h-28 w-28 bg-[#232323] flex items-center justify-center rounded-lg">
                    <img [src]="skill.imageUrl" class="h-16" title="{{skill.skill}}">
                </div>
                }
            </div>
        </div>

        <h1 class="min-[320px]:text-xs lg:text-2xl font-bold flex justify-center mt-48">{{ 'skills_services.services_label' | translate
            }}
        </h1>

        <div class="flex justify-center gap-6 mt-12 text-[#FFEDA3]">
            <div class="h-64 w-96 bg-[#232323] flex flex-col p-12 rounded-lg shadow-2xl shadow-[#232323]">
                <mat-icon class="text-7xl h-auto w-auto">integration_instructions_outlined</mat-icon>
                <span class="mt-12 text-xl">{{ 'skills_services.integrations_services_label' | translate }}</span>
            </div>
            <div class="h-64 w-96 bg-[#232323] flex flex-col p-12 rounded-lg shadow-2xl shadow-[#232323]">
                <mat-icon class="text-7xl h-auto w-auto">cloud_outlined</mat-icon>
                <span class="mt-12 text-xl">API's</span>
            </div>
            <div class="h-64 w-96 bg-[#232323] flex flex-col p-12 rounded-lg shadow-2xl shadow-[#232323]">
                <mat-icon class="text-7xl h-auto w-auto">devices</mat-icon>
                <span class="mt-12 text-xl">{{ 'skills_services.responsive_sites' | translate }}</span>
            </div>
        </div>
    </div>
</div>