<div class="h-screen bg-[#232323] flex flex-col justify-between text-zinc-400">
  <div class="flex justify-end p-4">
    <mat-form-field class="w-20">
      <mat-select [(value)]="selectedLanguage" (selectionChange)="handleSelectionChange()">
        <mat-select-trigger>
          <img src="{{ selectedLanguage.imageUrl }}" class="h-4">
        </mat-select-trigger>
        @for(language of languages; track language) {
        <mat-option [value]="language">
          <img src="{{ language.imageUrl }}" class="h-4" />
        </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

  <div class="flex flex-row mt-auto items-center px-48">
    <div class="w-3/6">
      <h1 class="text-[#FFEDA3] text-2xl">{{ 'if (SoftwareEngineering()) {' }}</h1>

      <h1 class="ml-4 mt-3" [innerHTML]="'welcome_label' | translate"></h1>

      <h1 class="ml-4 mt-12" [innerHTML]="'description_label' | translate"></h1>

      <h1 class="text-[#FFEDA3] text-2xl mt-3">{{ '}' }}</h1>

      <button mat-raised-button class="mt-12">
        <mat-icon>download</mat-icon>
        {{ 'download_resume_button_label' | translate }}
      </button>
    </div>

    <div class="ml-auto w-2/6 flex flex-row flex-wrap gap-12">
      <button mat-stroked-button class="flex flex-col items-center justify-center w-52 h-52">
        <mat-icon class="scale-[3] mb-12">code</mat-icon>
        {{ 'project_button_label' | translate }}
      </button>

      <button mat-stroked-button class="flex flex-col items-center justify-center w-52 h-52">
        <mat-icon class="scale-[3] mb-12">lightbulb_outlined</mat-icon>
        {{ 'skills_and_services_button_label' | translate }}
      </button>

      <button mat-stroked-button class="flex flex-col items-center justify-center w-52 h-52">
        <mat-icon class="scale-[3] mb-12">person_outlined</mat-icon>
        {{ 'about_me_button_label' | translate }}
      </button>

      <button mat-stroked-button class="flex flex-col items-center justify-center w-52 h-52">
        <mat-icon class="scale-[3] mb-12">mail_outlined</mat-icon>
        {{ 'contact_button_label' | translate }}
      </button>
    </div>
  </div>

  <div class="flex flex-row mt-auto justify-center gap-4 pb-6">
    <a href="https://github.com/gaacaetano" class="rounded-full bg-[#191919] h-12 w-12 flex items-center justify-center"
      target="_blank">
      <img class="h-6" src="../assets/github.png" />
    </a>

    <a href="https://www.linkedin.com/in/gaacaetano"
      class="rounded-full bg-[#191919] h-12 w-12 flex items-center justify-center" target="_blank">
      <img class="h-6" src="../assets/linkedin.png" />
    </a>

    <a href="https://twitter.com/gaacaetano"
      class="rounded-full bg-[#191919] h-12 w-12 flex items-center justify-center" target="_blank">
      <img class="h-6" src="../assets/twitter.png" />
    </a>
  </div>
</div>